.courseList-tags{
    width: 1076px;
    
    a{
        color: $white;
        border-radius: 8px;
        border: solid 1px $white;
        &.active,&:hover{
            color: $primary;
            border-color: $primary;
        }
    }
}

.course-card{
  border-radius: 24px; 
  display: flex;

    .teacher-img{
        @include size(100px,100px);
    }
    p{
       @media screen and (min-width:1140px) {
        max-width: 576px;
       }
    }
}

.course-intro,
.course-reserve{
    border-radius: 8px;
}