@mixin size($width,$height) {
    width: $width;
    height: $height;
}

@mixin text-gradient{
    background: linear-gradient(180deg, #09ACF5, #62DB54);
    background-clip: text;
    color: transparent;
}


@mixin pad {
    @media screen and (min-width:767px) {
        @content
    }
};

@mixin desktop {
    @media screen and (min-width:991px) {
        @content
    }
};

@mixin title-bottomLine {   
    &::after{
        content: '';
        width: 50px;
        height: 3px;
        background-color: $primary;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
   
};


