.text-mono{
    font-family: 'Azeret Mono', monospace;
}

.gradient-text{
    background-image: linear-gradient(180deg, $secondary, $primary);
    background-clip: text;
    color: transparent;
}

.zindex-1{
    z-index: 1;
}

